.basictab{
padding: 3px 0;
margin-left: 0;
font: bold 12px Verdana;
border-bottom: 1px solid white;
list-style-type: none;
margin-bottom: 0;
text-align: left; 
}

.basictab li{
display: inline;
margin: 0;
}

.basictab li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 2px;
border: 1px solid white;
border-bottom: none;
background-color:black;
color: white;
}


.basictab li a:visited{
color: white;
}

.basictab li a:hover{
background-color:#E88C31 ;
color: black;
}

.basictab li a:active{
color: black;
}

.basictab li.selected a{
position: relative;
top: 1px;
padding-top: 4px;
}


.submenustyle{
padding: 2px 1px;
border: 1px solid black;
border-top-width: 0;
width: auto;
display: none;
filter:alpha(opacity=0);
-moz-opacity:0;
}

* html .submenustyle{ 
width: 100%;
}

.submenustyle a{
border-right: 1px dashed black;
padding: 1px 5px;
text-decoration: none;
}

.submenustyle a:hover{
background-color: #BF9CEC;
}